body {
    background-color: beige;

}

h1 {
    background-color : mediumaquamarine;
    height : 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

h2 {

}

img {
    border: mediumaquamarine solid 20px;
    align: center;


}

li {

}

#leftCol {
    float: right;
    width: 80%;
}

#rightCol {
    float: right;
    width: 20%;
}