body {
  background-color: white;
  font-family: acumin-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;
  margin: auto;
}

p {
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* nav */
nav {
  background-color: rgb(136, 162, 170);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0;
}

.pageContent {
  position: relative;
  top: 130px;
}

.navImg {
  height: 100px;
}

/* .navHidden {
  font-size: 50px;
  position: relative;
  left: 180px;
  top: -1px;
  height: 70px;
} */

/* .navbar {
  box-shadow: 3px 3px 2px 0px #88a2aa;
} */

.navBtns {
  position: relative;
  right: 10%;
}

.logoName {
  position: relative;
  left: 10%;
}

.nav-link {
  color: black;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
}

.nav-link:hover {
  color: rgb(79, 79, 79);
}

.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  color: rgb(79, 79, 79);
}

h1 {
  font-size: 60px;
  display: inline-block;
  position: relative;
  top: 15px;
  padding-left: 10px;
  font-weight: 200;
}

h2 {
  position: relative;
  top: 130px;
  text-decoration: underline;
  font-size: 40px;
  font-weight: 200;
}

.firstln {
  text-align: left;
}

.secondln {
  text-align: right;
}

.prob {
  font-weight: 800;
}

/* .sr-only {
  color: black;
} */
h3 {
  border-bottom: solid 3px rgb(136, 162, 170);
  height: 60px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 34px;
}

.addBtmPadding {
  padding-bottom: 40px;
}

.navbar-toggler {
  background-color: black;
}

.active {
}

.dropdown-toggle::after {
  display: none;
}
/* body */
.imgMe {
  height: 500px;
  /* padding: 10px; */
  padding-bottom: 50px;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.indent {
  text-indent: 40px;
  font-size: 16x;
}

.text a {
  color: black;
}

/* portfolio */
.title {
  font-size: 50px;
  font-weight: 200;
}

.portImg {
  height: 200px;
  /* background-color: rgb(136, 162, 170); */
}

.colorBlock {
  background-color: rgb(136, 162, 170);
  height: 130px;
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

.wcolorBlock{
  background-color: white);
  height: 130px;
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

.card {
  width: 100%;
  border-radius: 0;
  border: none;
  height: 350px;
}

.card-body {
  display: flex;
  flex: 1 1 auto;
}

.card-title {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  padding-bottom: 10px;
}

.card-link {
  color: black;
  background-color: rgb(172, 203, 213);
  padding: 10px;
  border-radius: 5px;
  font-weight: 300;
  box-shadow: 2px 2px 1px rgb(101, 100, 100);
}

.card-link:hover {
  color: white;
  background-color: #6c757d;
}

.portfolioCard {
  margin-bottom: 40px;
}

.portContainer,
.contactContainer {
  background-color: rgb(136, 162, 170);
  padding-bottom: 40px;
}
/* resume */
.resPic {
  height: 60px;
}

.vl {
  border-left: 4px solid #88a2aa;
  height: 1500px;
}

.btn-outline-secondary {
  position: relative;
  left: 50px;
  bottom: 15px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
}

.h6 {
  font-weight: 400;
  font-size: 32px;
  background-color: rgb(136, 162, 170);
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.eduHead {
  font-size: 32px;
}

.eduHead2 {
  color: #51575e;
  font-size: 24px;
}

.dates {
  font-size: 15px;
}

.gdskill {
  color: black;
  border: solid 2px rgba(0, 123, 70, 0.303);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  font-weight: 300;
  margin: 5px;
  display: inline-block;
  font-size: 12px;
}
.cskill {
  color: black;
  border: solid 2px rgba(0, 0, 255, 0.351);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  font-weight: 300;
  margin: 5px;
  display: inline-block;
  font-size: 12px;
}

.resBlock {
  margin-top: 80px;
}

.resIcon {
  text-align: center;
}

.info {
  font-size: 14px;
}

/* contact me */
.contactMe {
  text-align: center;
  padding-bottom: 50px;
}

.contactMe img {
  height: 90px;
  padding: 2px;
  filter: grayscale(100%);
  float: none;
}

.contactMe img:hover {
  filter: grayscale(0%);
}

/* the logo is black so Im not sure how I want to do this */
#gitimg :hover {
  filter: drop-shadow(0px 0px 3px black);
}
/* footer */
footer {
  height: auto;
  margin: auto;
  width: 95%;
  display: block;
  font-weight: 200;
}

footer p {
  text-align: center;
  display: block;
}

footer {
  position: relative;
  bottom: 1px;
}

footer img {
  height: 30px;
  padding: 2px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 40px;
  }
}

/* flex box on the tagline beside photo */
